

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;

	background-color: #849d8f;

}





.main-menu,
.user-navigation,
.catalog-menu,
.slides-switches,
.shares-list,
.bestsellers-list,
.features-list,
.footer-social-list,
.footer-menu-list,
.breadcrumbs,
.filter-radio-list,
.filter-checkbox-list,
.cream-list,
.pagination-list {
	list-style: none;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0px 27px;

}



.main-menu {
	padding: 0;
	margin: 0;
	margin-left: 20px;
	padding-top: 29px;
}

.user-navigation {
	padding: 0;
	margin: 0;
	margin-left: auto;
	padding-top: 23px;
}

.main-navigation {
	display: flex;
}



.main-menu a {
	color:#ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.header-logo {
	padding-top: 9px;

}

 li .basket-with-items {
	background-color: #ffffff;
	color: #323232;


}


.main-menu a:hover,
.main-menu a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #f7f6f3;
	color:#333333;
}

.catalog-menu {
	background-color: #f8f7f4;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
	background-color: #fbded7;
}

.catalog-menu a:active {
	background-color: #f6b5a5


}




.catalog-menu a {
	text-decoration: none;
	color:#ffffff;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	font-weight: 400;
}

li .active {
	background-color: #d07058;
	color: #ffffff;
}


.catalog-menu-item:first-child a {
	font-weight: 700;
}

.login-link {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
	background-color: rgba(248, 247, 244, 0.2);
}

.basket-link {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
	background-color: rgba(248, 247, 244, 0.2);

}

.header-contacts {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-align: right;
}

.header-contacts b {
	color: #ffffff;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	text-align: right;

}

.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
    vertical-align: middle;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 15px;

}


.button:hover,
.button:focus {
	background-image: linear-gradient(to top, #e74a35, #f26843),
	                  linear-gradient(rgba(255, 255, 255, 0.2),
	                  rgba(255, 255, 255, 0.2));
    box-shadow: 0px 1px 2px 0 #ac1000;
}

.button:active {
	background-image: linear-gradient(to bottom, #e74a35, #f26843),
	                  linear-gradient(rgba(0, 0, 0, 0.07),
	                  rgba(0, 0, 0, 0.07));
    box-shadow: inset 0px 2px 2px 0 #942718;

}

.slide1 {
	background-image: url(../img/slide-1.png);
	background-repeat: no-repeat;
	background-size: 1045px;
	background-position: top;
	width: 1065px;
	/*height: 859px;*/
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;

	
  

}

.slide2 {
	background-image: url(../img/slide-2.png);
	background-repeat: no-repeat;
	background-size: 1045px;
	background-position: center;
	width: 1065px; 
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	display: none;
	
}

.slide3 {
	background-image: url(../img/slide-3.png);
	background-repeat: no-repeat;
	background-size: 1065px;
	background-position: center;
	width: 1065px;
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	display: none;
	
}

.slider-button {
	font-size: 32px;
	line-height: 44px;
}

.shares {
	margin-bottom: 43px;
}


.shares-list {
	font-size: 18px;
	line-height: 21.5px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.shares-item {
	width: 560px;
}
	
.shares-list h3 {
	font-size: 35px;
	line-height: 41px;
}

.free-jam {
	background-image: url("../img/shares-1.jpg");
	background-repeat: no-repeat;
	width: 560px;
	border-radius: 15px;
}

.free-chocolate {
	background-image: url("../img/shares-2.jpg");
	background-repeat: no-repeat;
	width: 560px;
	border-radius: 15px;
}

.bestsellers {
	margin-bottom: 37px;
}

.bestsellers-list,
.cream-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.bestsellers-item,
.cream-list li {
	width: 267px;
}


.bestsellers-item img,
.cream-list img {
	border-radius: 50%;


}

.bestsellers-item b,
.cream-list b {
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;

}
.cream-list li:hover,
.bestsellers-item:hover {
	background-color: rgba(248, 247, 244, 0.2);
}

.bestsellers-item span,
.cream-list span {
	font-size: 30px;
	line-height: 45px;
	color: #ffffff;
}

.bestsellers-item a:first-of-type,
.cream-list a:first-of-type {
	font-size: 17px;
	line-height: 21px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

}

.bestsellers-item a:first-of-type:hover,
.bestsellers-item a:first-of-type:focus,
.bestsellers-item a:first-of-type:active,
.cream-list a:first-of-type:hover,
.cream-list a:first-of-type:focus,
.cream-list a:first-of-type:active {
	color: #ffbc9e;
}

.features {
	background-image: url("../img/features-texture.png");
	background-repeat: no-repeat;
	background-size: 1146px ;
	border-radius: 15px;
	margin-bottom: 40px;
}

.features-list {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features-item {
	width: 560px;
}

.features>p {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;

}

.blog-sub-container {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog-new {
	background-image: url("../img/blog.jpg");\
	background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    padding-right: 262px;
    box-sizing: border-box;
	
}

.blog-new h2 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

}

.blog-new a { 
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
}

.blog-link:hover,
.blog-link:focus,
.blog-link:active
                  {
	color: #ffbc9e;
}

.subscription {
     background-image: url(../img/sub-border.svg);
     background-repeat: no-repeat;
     background-size: 560px;
     width: 560px;
     border-radius: 15px;
     padding: 5px;
     box-sizing: border-box;
 }
 
.sub-box {
	background-color: white;
	border-radius: 20px;
}

.location {
	margin: 0px;
	padding: 0px;
	min-height: 430px;
	width: 100%;
	background-image: url("../img/map.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	}

/*.location-address {
	width: 100%;
	background-image: url("../img/map.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 430px;
	background-clip: border-box;


}*/

 .contacts {
 	background-color: #ffffff;
 	width: 320px;
 	border-radius: 20px;
 }

.contacts p {
	font-size: 14px;
	line-height: 20px;

}

.contacts b{
	font-size: 18px;
	line-height: 24px;
}


.main-footer {
	background-color: #849d8f;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	display: flex;
	

}

.footer-social {
	margin: 0px;
	padding: 0px;
	margin-right: auto;
	margin-top: 37px;


}

.footer-social-list {
	margin: 0px;
	padding: 0px;
}

.footer-menu {
	margin: 0px;
	padding: 0px;
	margin-top: 37px;

}

.footer-menu-list {
	margin: 0px;
	padding: 0px;
}
 
.footer-copyright {
     margin: 0px;
	 padding: 0px;
	 margin-left: auto;
	 margin-top: 17px;
}




.main-footer a {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
	color: #ffbc9e;
}

.footer-menu-list li:first-child {
	font-weight: 700;

}

.modal {
   background-color: #f8f7f4;
}

.modal-login a { 
	font-size: 13px;
	line-height: 24px;
	color: #323232;


}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
	color: #ffbc9e;
}

.breadcrumbs {
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 16px;
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;

	color: #ffffff;


}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
}

.catalog-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
	margin: 0px;
	margin-bottom: 30px;

}

.catalog {
	margin-bottom: 75px;
}

.pagination-list {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: flex-end;
}

.pagination-item {
	margin-left: 20px;
}

.pagination-list a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color:#ffffff;
	text-decoration: none;

}

.pagination-item-current a {
	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;

}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: rgba(248, 247, 244, 0.2);
}


.basket-table {
	font-size: 13px;
	line-height: 16px;
}

.basket-item-price {
	color: #999999;
}

.checkout p {
	font-size: 15px;
	line-height: 18px;
	
}

.modal input {
	font-size: 14px;
	line-height: 24px;
	color: #323232;
	background-color: transparent;
	border: 1px solid #d3d3d2;
	font-weight: 700;
}

.filter-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.filters fieldset {
	border: none;
	background-color: rgba(248, 247, 244, 0.2);
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;

}

.filters select {
	color:#ffffff;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 15px;
}

.filters select:hover,
.filters select:focus{
	color: #323232;
}

.filters legend {
	font-size: 14px;
	line-height: 16px;
}

.filter-button {
	font-size: 16px;
	line-height: 18px;
	background-color: rgba(248, 247, 244, 0.2);
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
}

.filter-button:hover,
.filter-button:focus {
	color: #323232;
	background-color: #ffffff;
}

.filter-button:active {
	background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  color: #323232;
}

