

body
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin: 0;
    padding: 0;

    color: #323232;
    background-color: #849d8f;
}

.inner-page
{
    background-image: url('../img/light-inner.png');
    background-repeat: repeat-x;
    background-position: 0 0;
}

img
{
    max-width: 100%;
    height: auto;
}

.visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}




.main-menu,
.user-navigation,
.catalog-menu,
.slides-switches,
.shares-list,
.bestsellers-list,
.features-list,
.footer-social-list,
.footer-menu-list,
.breadcrumbs,
.filter-radio-list,
.filter-checkbox-list,
.cream-list,
.pagination-list
{
    list-style: none;
}

.container
{
    display: block;

    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}




.main-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-top: 22px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.main-menu > li
{
    margin-right: 1px;
}

.catalog-menu
{
    position: absolute;
    top: 60px;
    left: 184px;

    display: none;

    width: 143px;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 2px;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}






.user-navigation
{
    position: relative;
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 23px;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.user-navigation li
{
    margin-left: 9px;
}

.main-navigation
{
    position: relative;
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.main-menu-item > a
{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    display: block;

    padding-top: 8px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 14px;

    text-decoration: none;

    color: #fff;
    border-radius: 20px;
}

.main-menu-item span
{
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
}

.main-menu-item:first-child:hover .catalog-menu,
.main-menu-item:first-child:focus .catalog-menu,
.catalog-menu:hover
{
    display: block;
}

.header-logo
{
    padding-top: 9px;
}




.login-link:hover,
.login-link:focus,
.basket-link:hover,
.basket-link:hover,
.main-menu-item:hover > a:not(.active-page),
.main-menu-item:focus > a:not(.active-page),
.modal-search:hover,
.modal-search:focus,
.user-login-item:hover .login-link,
.user-login-item:focus .login-link
{
    color: #333;
    background-color: #f7f6f3;
}

.main-menu-item:active > a
{
    background-color: rgb(237, 237, 237);
    -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
            box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}



.catalog-menu a:hover,
.catalog-menu a:focus
{
    background-color: #fbded7;
}

.catalog-menu a:active
{
    background-color: #f6b5a5;
}




.catalog-menu a
{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    display: block;

    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 21px;

    text-decoration: none;

    color: #fff;
    color: #323232;
}

li .active-page,
li .active-page:hover,
li .active-page:focus,
li .active-page:active
{
    color: #fff;
    background-color: #d07058;
}


.catalog-menu-item:first-child a
{
    font-weight: 700;

    padding-bottom: 12px;
}

.catalog-menu-item:nth-child(2) a
{
    padding-top: 10px;
    padding-bottom: 7px;
}

.catalog-menu-item:first-child::after
{
    position: absolute;
    bottom: 132px;
    left: 6px;

    display: block;

    width: 128px;
    height: 1px;

    content: '';

    opacity: .2;
    background-color: #323232;
}

.modal-search
{
    position: relative;

    width: 33px;
    height: 32px;

    border-radius: 50%;
    background-color: rgba(248, 247, 244, .2);
}

.modal-search svg
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 17px;
    height: 17px;
    margin-top: -9px;
    margin-left: -9px;
}

.search-container
{
    position: absolute;
    top: 36px;
    right: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 341px;
    height: 84px;
    padding: 20px 15px;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}



.modal-search:hover .search-container,
.modal-search:focus .search-container
{
    display: block;
}

.modal-search:hover,
.modal-search:focus
{
    background-color: #fff;
}

.modal-search:hover path,
.modal-search:focus path
{
    fill: #333;
}



.search-container input
{
    width: 311px;

    background-color: #fff;
}

.user-login-item
{
    position: relative;
}

.login-link
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    display: block;

    width: 76px;
    padding-top: 8px;
    padding-right: 17px;
    padding-bottom: 8px;

    text-align: right;
    text-decoration: none;

    color: #fff;
    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);
}

.login-link svg
{
    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 19px;

    vertical-align: middle;
}

.user-login-item:hover path,
.user-login-item:focus path
{
    fill: #333;
}

.modal-login
{
    position: absolute;
    top: 36px;
    right: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 277px;
    padding-top: 20px;
    padding-right: 17px;
    padding-bottom: 19px;
    padding-left: 19px;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}


.modal-login input
{
    width: 241px;
    margin-bottom: 19px;
}

.modal-login .button
{
    display: inline-block;

    margin-right: 17px;
    padding: 10px 24px;

    vertical-align: top;
}

.modal-login a
{
    font-size: 13px;
    line-height: 24px;

    text-decoration: none;

    color: #323232;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);
}

.modal-login-links
{
    display: inline-block;

    width: 120px;
}

.modal-login-links a:hover,
.modal-login-links a:focus,
.modal-login-links a:active
{
    color: #ffbc9e;
    box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
}

.user-login-item:hover .modal-login,
.user-login-item:focus .modal-login,
.modal-login:hover
{
    display: block;
}


.basket-link-item
{
    position: relative;
}



.basket-link
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    position: relative;
    z-index: 2;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    padding-top: 8px;
    padding-right: 17px;
    padding-bottom: 8px;

    text-align: right;
    text-decoration: none;

    color: #fff;
    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);
}

.basket-link svg
{
    position: absolute;
    top: 6px;
    left: 15px;

    width: 21px;
    height: 20px;
}

.basket-link:not(.basket-with-items):hover path,
.basket-link:not(.basket-with-items):focus path
{
    fill: #333;
}

li .basket-with-items
{
    width: 117px;

    color: #323232;
    background-color: #f8f7f4;
}

.modal-basket
{
    position: absolute;
    top: 36px;
    right: 0;

    display: none;

    width: 510px;
    padding: 20px 15px;
    padding-bottom: 22px;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.basket-link-item:hover .modal-basket
{
    display: block;
}



.basket-table
{
    font-size: 13px;
    line-height: 16px;

    border-spacing: 0;

    border-bottom: 1px solid #cacac7;
}



.checkout p
{
    font-size: 15px;
    line-height: 18px;
}

.modal-basket td,
.modal-basket tr
{
    margin: 0;
    padding: 0;
}

.modal-basket img
{
    border-radius: 50%;
}

.modal-basket .delete-button
{
    width: 11px;
    height: 11px;
    margin: 0;

    border: none;
    background-color: transparent;
    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;
}

td.basket-item-del
{
    padding-top: 9px;
    padding-right: 15px;

    vertical-align: top;
}
.basket-row:nth-child(1) .basket-item-img
{
    padding-bottom: 16px;
}

td.basket-item-img
{
    padding-right: 12px;
}



td.basket-item-name,
td.basket-item-weight,
td.basket-item-price,
td.basket-item-totalprice
{
    padding-top: 9px;

    vertical-align: top;
}

td.basket-item-name
{
    width: 217px;
    padding-right: 31px;
}

td.basket-item-price
{
    padding-right: 32px;
    padding-left: 2px;

    color: #999;
}

td.basket-item-totalprice
{
    padding-right: 20px;
}

.basket-row:nth-child(2) .basket-item-img
{
    padding-bottom: 20px;
}

.checkout
{
    padding-top: 11px;

    text-align: right;
}

.checkout b
{
    margin-left: 395px;
}

.checkout .button
{
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 170px;
    margin-top: 12px;
    margin-left: 340px;
    padding: 10px 14px;
}


.header-contacts
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    margin: 0;
    margin-top: -5px;

    text-align: right;

    color: #fff;
}



.header-contacts b
{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    margin-top: 4px;
    margin-right: -1px;

    text-align: right;

    color: #fff;
}

.button
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 0;
    border-radius: 25px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
    background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
    background-image:      -o-linear-gradient(bottom, #e74a35, #f26843);
    background-image:         linear-gradient(to top, #e74a35, #f26843);
    -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
            box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}


.button:hover,
.button:focus
{
    background-image: -webkit-gradient(linear,left top, left bottom,from(#f58669),to(#ec6f5e));
    background-image: -webkit-linear-gradient(#f58669,#ec6f5e);
    background-image:      -o-linear-gradient(#f58669,#ec6f5e);
    background-image:         linear-gradient(#f58669,#ec6f5e);
    -webkit-box-shadow: 0 1px 2px 0 #ac1000;
            box-shadow: 0 1px 2px 0 #ac1000;
}

.button:active
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)),
    -webkit-gradient(linear,
    left top, left bottom,
    from(rgba(0, 0, 0, .07)),
    to(rgba(0, 0, 0, .07)));
    background-image: -webkit-linear-gradient(top, #e74a35, #f26843),
    -webkit-linear-gradient(rgba(0, 0, 0, .07),
    rgba(0, 0, 0, .07));
    background-image:      -o-linear-gradient(top, #e74a35, #f26843),
    -o-linear-gradient(rgba(0, 0, 0, .07),
    rgba(0, 0, 0, .07));
    background-image:         linear-gradient(to bottom, #e74a35, #f26843),
    linear-gradient(rgba(0, 0, 0, .07),
    rgba(0, 0, 0, .07));
    -webkit-box-shadow: inset 0 2px 2px 0 #942718;
            box-shadow: inset 0 2px 2px 0 #942718;
}

.slider
{
    position: relative;

    height: 527px;
    margin-bottom: 2px;
}

.slide
{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;

    position: absolute;
    z-index: -1;
    top: -118px;
    left: 41px;

    width: 1065px;
    height: 859px;

    text-align: center;

    color: #fff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1045px;
}

.slide1
{
    background-image: url(../img/slide-1.png);
}

.slide2
{
    z-index: -2;

    display: none;

    background-image: url(../img/slide-2.png);
}

.slide3
{
    z-index: -2;

    display: none;

    background-image: url(../img/slide-3.png);
}

.slide p
{
    position: absolute;
    top: 332px;
    left: 175px;

    width: 714px;
}

.slider-switches
{
    position: absolute;
    bottom: 58px;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}


.slider-radio button
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 21px;
    height: 21px;
    margin-right: 8px;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}


.slider-radio button:hover:not(.current-slider-radio)
{
    background-color: rgba(248, 247, 244, .2);
}

button.current-slider-radio
{
    background-color: #fff;
}

.slider-button
{
    font-size: 32px;
    line-height: 44px;

    position: absolute;
    bottom: 38px;
    left: 433px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 281px;
    padding-top: 8px;
    padding-right: 41px;
    padding-bottom: 12px;
    padding-left: 41px;

    border-radius: 35px;
}

.shares
{
    position: relative;
    z-index: 2;

    margin-bottom: 34px;
}


.shares-list
{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.5px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    color: #fff;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.shares-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 560px;
    padding-top: 16px;
    padding-right: 21px;
    padding-bottom: 23px;
    padding-left: 19px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.shares-item h3
{
    font-size: 35px;
    line-height: 41px;

    margin: 0;
    margin-bottom: 16px;
}

.shares-item p
{
    margin: 0;
    margin-bottom: 45px;
}

.shares-item a
{
    display: block;

    padding: 10px 22px;
    padding-right: 23px;
    padding-bottom: 12px;

    -ms-flex-item-align: end;
    align-self: flex-end;
}

.free-chocolate a
{
    padding: 9px 22px;
    padding-right: 21px;
    padding-bottom: 12px;
}


.free-jam
{
    width: 560px;

    border-radius: 15px;
    background-image: url('../img/shares-1.jpg');
    background-repeat: no-repeat;
}

.free-chocolate
{
    width: 560px;

    border-radius: 15px;
    background-image: url('../img/shares-2.jpg');
    background-repeat: no-repeat;
}

.bestsellers
{
    /*margin-bottom: 37px;*/
}

.bestsellers-list,
.cream-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.bestsellers-item,
.cream-list li
{
    position: relative;
    z-index: 1;

    width: 267px;
    min-height: 399px;
    margin-bottom: -37px;
    padding-top: 6px;
    padding-right: 13px;
    padding-left: 13px;

    border-radius: 5px;
}

.cream-list li
{
    margin-bottom: -43px;
}

.bestsellers-item:nth-child(4n+1),
.cream-list li:nth-child(4n+1)
{
    margin-left: -13px;
}

.bestsellers-item:nth-child(4n),
.cream-list li:nth-child(4n)
{
    margin-right: -13px;
}


.cost
{
    display: inline-block;

    margin-right: 36px;
}

.cost::after
{
    position: absolute;
    top: 6px;
    left: 81px;

    width: 28px;
    height: 33px;

    content: ' ';

    background-image: url('../img/ruble.svg');
    background-repeat: no-repeat;
}




.bestsellers-item img,
.cream-list img
{
    border-radius: 50%;
}

.bestsellers-item span,
.cream-list span
{
    font-size: 30px;
    line-height: 45px;

    position: absolute;
    top: 215px;
    left: 12px;

    color: #fff;
}

.bestsellers-item b,
.cream-list b
{
    font-size: 45px;
    line-height: 45px;

    color: #fff;
}

.bestsellers-item::before
{
    position: absolute;
    top: 6px;
    left: 13px;

    width: 61px;
    height: 61px;

    content: ' ';

    background-image: url('../img/hit.svg');
    background-repeat: no-repeat;
}

.bestsellers-item p,
.cream-list p
{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;

    width: 258px;
    margin: 0;
    margin-top: 8px;
    padding-left: 5px;

    text-align: center;

    color: #fff;
}

.cream-list li:hover,
.bestsellers-item:hover
{
    z-index: 3;

    background-color: rgba(248, 247, 244, .2);
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.cream-list-item:hover .button,
.bestsellers-item:hover .button
{
    display: block;
}



.bestsellers-item a:not(.button),
.cream-list a:not(.button)
{
    text-decoration: none;

    color: inherit;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
}

.bestsellers-item a:hover:not(.button),
.cream-list a:hover:not(.button)
{
    text-decoration: none;

    color: inherit;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
            box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
}


.bestsellers-item .button,
.cream-list .button
{
    position: absolute;
    bottom: 22px;
    left: 46px;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    padding: 10px 16px;
}

.bestsellers-item p:hover,
.bestsellers-item p:focus,
.bestsellers-item p:active,
.cream-list p:hover,
.cream-list p:focus,
.cream-list p:active
{
    color: #ffbc9e;
}

.features
{
    margin-bottom: 40px;
    padding-top: 25px;
    padding-right: 26px;
    padding-bottom: 24px;
    padding-left: 20px;

    border-radius: 15px;
    background-image: url('../img/features-texture.jpg');
}

.features p
{
    margin: 0;
}



.features-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.features-item
{
    position: relative;

    width: 477px;
}

.features-item:nth-child(n+3)
{
    margin-top: 22px;
}

.features-item:nth-child(2n-1)
{
    margin-left: 56px;
}

.features-item::before
{
    position: absolute;
    top: -13px;
    left: -56px;

    width: 49px;
    height: 49px;

    content: ' ';

    background-repeat: no-repeat;
}

.features-item:nth-child(1)::before
{
    left: -56px;

    content: ' ';

    background-image: url('../img/ice-cream.svg');
}


.features-item:nth-child(2)::before
{
    left: -58px;

    content: ' ';

    background-image: url('../img/cow.svg');
}

.features-item:nth-child(3)::before
{
    left: -56px;

    content: ' ';

    background-image: url('../img/eco.svg');
}

.features-item:nth-child(4)::before
{
    left: -58px;

    content: ' ';

    background-image: url('../img/thermometer.svg');
}

.features > p
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin-bottom: 21px;
}

.blog-sub-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-bottom: 39px;
    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog-new
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 560px;
    padding-top: 23px;
    padding-right: 259px;
    padding-bottom: 78px;
    padding-left: 20px;

    border-radius: 15px;
    background-image: url('../img/blog.jpg');
    background-repeat: no-repeat;
}

.blog-new h2
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    margin: 0;
    margin-bottom: 4px;
}

.blog-new p
{
    margin: 0;
}

.blog-link
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    text-decoration: none;

    color: #323232;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,1);
            box-shadow: inset 0 -2px 0 rgba(0,0,0,1);
}

.blog-link:hover,
.blog-link:focus,
.blog-link:active
{
    color: #ffbc9e;
    -webkit-box-shadow: inset 0 -2px 0 #ffbc9e;
            box-shadow: inset 0 -2px 0 #ffbc9e;
}

.subscription
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 560px;
    padding: 5px;
    padding-left: 6px;

    border-radius: 15px;
    background-image: url(../img/sub-border.svg);
    background-repeat: no-repeat;
    background-size: 560px;
}

.sub-box
{
    position: relative;
    z-index: 2;

    padding-top: 29px;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 20px;

    border-radius: 11px;
    background-color: #f8f7f4;
}

.sub-box p
{
    margin: 0;
    margin-bottom: 35px;
    padding-left: 1px;

    color: #5a5a5a;
}

.sub-box input
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 368px;
    margin-right: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;

    color: #323232;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.sub-box input:hover
{
    -webkit-box-shadow: 0 0 1px 2px rgba(154, 154, 154, .52);
            box-shadow: 0 0 1px 2px rgba(154, 154, 154, .52);
}

.sub-box .button
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 129px;
    padding: 10px 16px;
    padding-right: 17px;
}

.location
{
    position: relative;

    width: 1200px;
    min-height: 430px;
    margin: 0 auto;
    padding: 0;

    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: -46px;
    background-size: cover;
}


.contacts
{
    position: absolute;
    top: 63px;
    right: 27px;

    width: 252px;
    padding-top: 29px;
    padding-right: 25px;
    padding-bottom: 31px;
    padding-left: 25px;

    border-radius: 15px;
    background-color: #fff;
}

.contacts p
{
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 18px;
}

.contacts b
{
    font-size: 18px;
    line-height: 24px;

    display: inline-block;

    margin-top: 1px;
}

b.contacts-tel
{
    margin-top: 4px;
    margin-bottom: 2px;
}

.contacts .button
{
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 252px;
    margin-top: 6px;
    padding: 9px 27px;
    padding-bottom: 11px;
}

.location::before
{
    position: absolute;
    z-index: 2;
    top: 139px;
    left: 266px;

    width: 80px;
    height: 140px;

    content: ' ';

    background-image: url('../img/pin.svg');
    background-repeat: no-repeat;
}

.location::after
{
    position: absolute;
    z-index: 1;
    top: 171px;
    left: 302px;

    width: 182px;
    height: 110px;

    content: ' ';

    background-image: url('../img/pin-shadow.png');
    background-repeat: no-repeat;
}


.main-footer
{
    font-size: 13px;
    line-height: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-bottom: 23px;

    color: #fff;
    background-color: #849d8f;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-social
{
    margin: 0;
    margin-top: 36px;
    margin-right: auto;
    padding: 0;
}

.footer-social-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-left: 1px;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.footer-social-list li
{
    margin-right: 11px;
}



.social-button
{
    display: block;

    width: 32px;
    height: 32px;
    margin: 0;

    opacity: .8;
    border: 3px solid rgba(255,255,255,.5);
    border-radius: 50%;
}

.social-button-tw
{
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
}

.social-button-inst
{
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
}

.social-button-fb
{
    background-image: url('../img/fb.svg');
    background-repeat: no-repeat;
}

.social-button-vk
{
    background-image: url('../img/vk.svg');
    background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus
{
    opacity: 1;
    border: 3px solid rgba(255,255,255,.7);
}

.social-button:active
{
    opacity: .5;
    border: 3px solid rgba(255,255,255,.7);
}

.footer-menu
{
    margin: 0;
    margin-top: 34px;
    padding: 0;
}

.footer-menu-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 363px;
    margin: 0;
    margin-left: 54px;
    padding: 0;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer-menu-list li
{
    margin-right: 44px;
    margin-bottom: 4px;
}





.footer-menu a
{
    font-size: 13px;
    line-height: 18px;

    text-decoration: none;

    color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
}

.main-footer a:not(.htmlacademy-logo):hover,
.main-footer a:not(.htmlacademy-logo):focus,
.main-footer a:not(.htmlacademy-logo):active
{
    color: #ffbc9e;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
            box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
}

.footer-menu-list li:first-child
{
    font-weight: 700;

    position: relative;

    margin-right: 31px;
}

.footer-menu-list li:first-child::before
{
    position: absolute;
    top: 3px;
    left: -22px;

    width: 15px;
    height: 13px;

    content: ' ';

    background-image: url('../img/heart.svg');
    background-repeat: no-repeat;
}

.footer-copyright
{
    margin: 0;
    margin-top: 19px;
    margin-left: auto;
    padding: 0;
}

.footer-copyright p
{
    font-size: 12px;
    line-height: 18px;

    margin: 0;
}

.footer-copyright a:not(.htmlacademy-logo)
{
    font-size: 12px;
    line-height: 18px;

    text-decoration: none;

    color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
}

a.htmlacademy-logo
{
    margin-left: 2px;
}

.modal input
{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 9px 14px;
    padding-bottom: 10px;

    color: #323232;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal input:hover
{
    -webkit-box-shadow: 0 0 1px 2px rgba(154, 154, 154, .52);
            box-shadow: 0 0 1px 2px rgba(154, 154, 154, .52);
}


.modal-feedback
{
    position: fixed;
    z-index: 10;
    top: 120px;
    left: 50%;

    display: none;

    width: 430px;
    margin-left: -230px;
    padding: 16px 24px;
    padding-bottom: 26px;

    border-radius: 10px;
    background-color: #f8f7f4;
}

.modal-feedback p
{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.modal-feedback > p
{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    color: #323232;
}

.modal-feedback input
{
    font-size: 16px;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 267px;
    padding: 12px 15px;
    padding-bottom: 8px;
}

.modal-feedback textarea
{
    font-size: 16px;
    line-height: 24px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 428px;
    height: 155px;
    margin-bottom: 5px;
    padding: 9px 14px;
    padding-bottom: 10px;

    color: #323232;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal-feedback .button
{
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 139px;
    margin-left: 290px;
    padding: 10px 24px;
}

.modal-close-button
{
    position: absolute;
    top: 12px;
    right: 18px;

    width: 18px;
    height: 17px;

    cursor: pointer;

    border: none;
    background-color: transparent;
    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;
    background-size: 18px 19px;
}

.inner-page-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.breadcrumbs
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-top: 16px;
    margin-left: 1px;
    padding: 0;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.breadcrumbs a
{
    font-size: 14px;
    line-height: 16px;

    margin-right: 20px;

    text-decoration: none;

    color: #fff;
}

.breadcrumbs li
{
    position: relative;
}

.breadcrumbs a:not(.current):hover,
.breadcrumbs a:not(.current):focus,
.breadcrumbs a:not(.current):active
{
    color: #ffbc9e;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
            box-shadow: inset 0 -1px 0 rgba(255,188,158,.2);
}

.breadcrumbs a:not(.current)
{
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.2);
}

.breadcrumbs li:not(.current)::after
{
    position: absolute;
    top: 0;
    left: 59px;

    margin-left: 1px;

    content: '»';

    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.catalog-title
{
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;

    margin: 0;
    margin-top: 1px;
    margin-bottom: 26px;

    color: #fff;
}



.catalog
{
    margin-bottom: 49px;
}

.pagination-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    border-bottom: 1px solid rgba( 255, 255, 255, .3) ;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.pagination-item
{
    margin: 0;
    margin-bottom: 29px;
    margin-left: 3px;
}

.pagination-list a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 26px;
    height: 26px;
    padding-top: 4px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 50%;
}

.pagination-item-current a
{
    color: #323232;
    border-radius: 50%;
    background-color: #fff;
}

.prev-page
{
    margin-right: 4px;
}


.blocked a
{
    opacity: .2;
    background-color: transparent;
}


.prev-page a
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.next-page
{
    margin-right: -9px;
    margin-left: 6px;
}

.next-page a
{
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.pagination-item:not(.blocked) a:not(.current):hover,
.pagination-item:not(.blocked) a:not(.current):focus,
.pagination-item:not(.blocked) a:not(.current):active
{
    background-color: rgba(248, 247, 244, .2);
}






.filters
{
    margin-bottom: 34px;
}

.filter-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.filters fieldset
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    margin: 0;
    margin-right: 14px;
    padding: 0;

    color: #fff;
    border: none;
}

.filters fieldset:last-of-type
{
    margin-top: 15px;
}

.filters select
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 194px;
    height: 37px;
    padding: 10px 15px;
    padding-top: 9px;
    padding-right: 5px;

    color: #fff;
    border: 0 ;
    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);
    background-image: url('../img/icon-down-dir-white.svg');
    background-repeat: no-repeat;
    background-position: 91% 47%;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}


.filters select:hover,
.filters select:focus
{
    color: #323232;
    background-color: #fff;
    background-image: url('../img/icon-down-dir.svg');
}


.filters legend
{
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 6px;
    margin-left: 16px;
}

.cost-range-container
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    padding: 16px 22px;
    padding-top: 17px;

    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);
}

.cost-range-container .scale
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 176px;
    height: 4px;
    padding-left: 24px;

    background-color: rgba(248, 247, 244, .5);
}

.cost-range-container .bar
{
    width: 107px;
    height: 4px;

    background-color: #f8f7f4;
}


.range-toggle
{
    position: absolute;
    top: 8px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 20px;
    height: 20px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
}

.range-toggle-min
{
    left: 35px;
}

.range-toggle-max
{
    left: 133px;
}

.range-toggle:hover
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


.filter-radio-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 415px;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 46px;

    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter-radio-list label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.filter-radio-list label::before
{
    position: absolute;
    top: -2px;
    left: -31px;

    width: 22px;
    height: 22px;

    content: ' ';

    opacity: .8;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
}

.fat-content-radio:checked + label::before
{
    background-image: url(../img/radio-on.svg);
}

.filter-checkbox-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 703px;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-left: 47px;

    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter-checkbox-list label
{
    position: relative;

    display: block;

    cursor: pointer;
}


.filter-checkbox-list label::before
{
    position: absolute;
    top: -1px;
    left: -32px;

    width: 20px;
    height: 20px;

    content: ' ';

    opacity: .8;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);

    background-image: url(../img/checkbox-on.svg);
}

.filter-radio-list label:hover::before,
.filter-checkbox-list label:hover::before
{
    opacity: 1;
}

.filter-button
{
    font-size: 16px;
    line-height: 18px;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 144px;
    margin-left: -1px;
    padding-top: 7px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-left: 28px;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: rgba(248, 247, 244, .2);
}

.filter-button:hover,
.filter-button:focus
{
    color: #323232;
    background-color: #fff;
}

.filter-button:active
{
    color: #323232;
    background-color: #ededed;
    -webkit-box-shadow: inset 0 2px 1px 0 #696969;
            box-shadow: inset 0 2px 1px 0 #696969;
}

::-webkit-input-placeholder
{
    font-weight: 400;

    color: #999;
}
::-moz-placeholder
{
    font-weight: 400;
    /* Firefox 19+ */

    color: #999;
}
:-ms-input-placeholder
{
    font-weight: 400;

    color: #999;
}
:-moz-placeholder
{
    font-weight: 400;
    /* Firefox 18- */

    color: #999;
}

.search::-webkit-input-placeholder
{
    font-weight: 400;
    /* Chrome, Firefox, Opera, Safary */

    color: #999;
}

input::placeholder
{
    font-weight: 400;
    /* Chrome, Firefox, Opera, Safary */

    color: #999;
}

input:-moz-placeholder
{
    font-weight: 400;

    opacity: 1;
    /* Firefox 18+ */
    color: #999;
}

input::-moz-placeholder
{
    font-weight: 400;

    opacity: 1;
    /* Firefox 19+ */
    color: #999;
}

input:-ms-input-placeholder
{
    font-weight: 400;
    /* IE */

    color: #999;
}

input::-ms-input-placeholder
{
    font-weight: 400;
    /* edge */

    color: #999;
}

.filters select::-ms-expand
{
    display: none;
}
